body{
  background-color: #23042d;
  color: aliceblue;  
}
.App{
  max-width: 860px;
  margin: 40px auto;
}
button {
  border-radius: 4px;
  border: 2px solid #fff;
  padding: 6px 12px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: none;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fff;
}
button:hover {
  background: #c23866;
  color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* .barra{
  display: flex;
  justify-content:space-around;
  align-items: center;
} */
.card {
  padding: 3px;
  border-color: solid aliceblue;
  border-radius: 5px;
  background-color: aliceblue;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;    
  margin-top: 40px; 
}